:root {
  --top-bar-height: 60px;
  --color-dark: #151515;
  --color-light: #f9f9f9;
  --color-mid-light: #eaeaea;
  --color-dark-navy: #213547;
  
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-light);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: var(--color-light);
  text-decoration: none;
}

a:hover {
  border-bottom: var(--color-light) solid 2px;
}

#right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

h2 a {
  text-decoration: none;
  cursor: pointer;
}

#top-bar {
  border-bottom: var(--color) solid 2px;
}

#color-picker {
  position: absolute;
  top: calc(var(--top-bar-height) + 15px);
  right: 15px;
}

#color-wheel-button img {
  width: 80px;
  max-width: 100%;
}

#close-indicator {
  font-size: 2em;
  color: var(--color);
  transform: rotate(45deg);
}

hex-color-picker {
  width: calc(min(100vw, 400px) - 15px);
  height: calc(min(100vw, 400px) - 15px);
}

span {
  background: var(--color);
  color: white;
  border-radius: 4px;
  padding: 4px;
  transition: color 100ms;
}

#results {
  margin-top: calc(var(--top-bar-height) + 60px);
}

#results h2 {
  margin: 2em 1em 1em 1em;
  line-height: 1.2em;
}

img {
  border-radius: 10px;
  max-width: 90%;
}

.image-link:hover {
  border-bottom: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

footer {
  font-size: 0.8em;
  margin: 4em 1em 1em 1em;
  width: 100%;
}

footer.bottom {
  position: absolute;
  bottom: 0;
}

footer a:hover {
  border-width: 1px;
}

#top-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: var(--top-bar-height);
  top: 0;
  position: fixed;
  background: var(--color-dark);
}

#help {
  background: var(--color-dark);
  padding: 1em 2em;
  border-radius: 10px;
  max-width: 300px;
  margin: 0 auto;
  line-height: 1.8em;
}

#color-wheel-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  cursor: pointer;
  background: none;
  border: var(--color) solid 2px;
  border-radius: 50%;
  padding: 0;
}

#title, #title-sm {
  margin-left: 20px;
}

#title-sm {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-dark-navy);
    background-color: var(--color-light);
  }
  a {
    color: var(--color-dark-navy);
  }
  a:hover {
    border-bottom: var(--color-dark-navy) solid 2px;
  }
  #top-bar,
  #help {
    background-color: var(--color-mid-light);
  }
  button {
    background-color: var(--color-light);
  }
}

@media (max-width: 600px) {
  #title {
    display: none;
  }
  #title-sm {
    display: block;
  }
  footer {
    width: unset;
  }
  a:hover {
    border-bottom: none;
  }
}
